@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Pacifico&display=swap');
html {
  background: rgb(2,0,0);
  background-image: url(assets/bg.png);
  background-size: auto;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
body {
  overscroll-behavior: none;
}
h1 {
  font-family: 'Pacifico', cursive;
  font-size: 4em;
  background: -webkit-radial-gradient( #c797d1, #622987, #291d5b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 15px;
  opacity: .8;
  position: fixed;
  top: -7%;
  left: 35%;
}
h3 {
  font-family: 'Lobster Two', cursive;
  font-size: 2em;
  position: fixed;
  top: 12%;
  left: 36%;
  background: -webkit-radial-gradient( #c797d1, #7632a4, #c797d1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.words {
  position: fixed;
  right: 10%;
  top: 28%;
  width: 400px;
  max-height: 250px;
  box-shadow: 3px 3px 3px 2px #1c113cba;
  border-radius: 2rem;
  opacity: .8;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  color: #ffffff;
  outline:none;
  overflow: scroll;
}
button {
  position: fixed;
  bottom: 10%;
  right: 15%;
  width: 20%;
  height: 4rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  background: transparent;
  box-shadow: 3px 3px 3px 2px #5e4f94ba, -3px -3px 3px 2px #352262ba;
  opacity: .8;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  color: #ffffff;
}
button:hover {
  cursor: help;
  box-shadow: inset 1px 1px 1px 1px #dccbe4e0, 1px 1px 10px 1px #dccbe4e0;
}
button:active {
  box-shadow: inset 1px 1px 1px 1px #dccbe4e0, 1px 1px 1px 1px #dccbe4e0, 1px 1px 10px 1px #dccbe4e0, 10px 10px 10px 1px #2e1d36e0;
  cursor: pointer;
}
@keyframes twinkle {
  0%, 10%, 20% {
    opacity: .5;
    transform: rotate(360deg) scaleX(1.1) scaleY(1.1);
  }
  30%, 40%, 50% {
  opacity: 1;
  transform: rotate(360deg) scaleX(1.2) scaleY(1.2);
  }
  60%, 70% {
    opacity: .5;
    transform: rotate(360deg) scaleX(1.1) scaleY(1.1);
    }
    80%, 90%, 100% {
    opacity: 1;
    transform: rotate(360deg) scaleX(1.1) scaleY(1.1);
  }
}
@-webkit-keyframes twinkle {
  0%, 10%, 20% {
    opacity: .5;
    transform: rotate(360deg) scaleX(1.1) scaleY(1.1);
  }
  30%, 40%, 50% {
  opacity: 1;
  transform: rotate(360deg) scaleX(1.2) scaleY(1.2);
  }
  60%, 70% {
    opacity: .5;
    transform: rotate(360deg) scaleX(1.1) scaleY(1.1);
    }
    80%, 90%, 100% {
    opacity: 1;
    transform: rotate(360deg) scaleX(1.1) scaleY(1.1);
  }
}
@-moz-keyframes twinkle {
  0%, 10%, 20% {
    opacity: .5;
    transform: rotate(360deg) scaleX(1.1) scaleY(1.1);
  }
  30%, 40%, 50% {
  opacity: 1;
  transform: rotate(360deg) scaleX(1.2) scaleY(1.2);
  }
  60%, 70% {
    opacity: .5;
    transform: rotate(360deg) scaleX(1.1) scaleY(1.1);
    }
    80%, 90%, 100% {
    opacity: 1;
    transform: rotate(360deg) scaleX(1.1) scaleY(1.1);
  }
}
@-o-keyframes twinkle {
  0%, 10%, 20% {
    opacity: .5;
    transform: rotate(360deg) scaleX(1.1) scaleY(1.1);
  }
  30%, 40%, 50% {
  opacity: 1;
  transform: rotate(360deg) scaleX(1.2) scaleY(1.2);
  }
  60%, 70% {
    opacity: .5;
    transform: rotate(360deg) scaleX(1.1) scaleY(1.1);
    }
    80%, 90%, 100% {
    opacity: 1;
    transform: rotate(360deg) scaleX(1.1) scaleY(1.1);
  }
}
#star {
  background-image: url(assets/twinkle.png);
  background-size: 100%;
  background-position: right bottom;
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0%;
  top: 0%;
  z-index: -1;
  animation: twinkle 30s linear infinite;
}
